<div class="user-container">
    <form>
      <div class="modal-body">
        <div class="form-group" >
            <div >
          <label>First Name</label>
          <input class="form-control" type="text" placeholder="Enter fisrt Name" name="firstname" [(ngModel)]="firstname">
        </div>

        <div class="form-group">
          <label>Last name</label>
          <input class="form-control" type="text" placeholder="Enter last name" name="lastname" [(ngModel)]="lastname">
        </div>

        <div class="form-group">
          <label>Mob number</label>
          <input class="form-control" type="text" placeholder="Enter mob number" name="mobile_no" [(ngModel)]="mobile_no">
        </div>

      </div>
      </div>
      <div class="footer">
          <!-- <input type="submit" class="btn btn-success" style="width: 90px;">{{ editMode ? 'Update' : 'Add'}} -->
          <button type="submit" class="btn btn-success" style="width: 90px;" (click)="onAdd()">{{ editMode ? 'Update' : 'Add'}}</button>
          <button type="submit" class="btn btn-danger" style="width: 90px;" value="Delete" (click)="onDelete()">Delete</button>
          <button type="submit" class="btn .btn-primary" style="width: 90px;" (click)="onReset()">Reset</button> 
      </div>
    </form>
</div>

<div>
  <table>
      <tr>
          <th>Firstname</th>
          <th>Last name</th>
          <th colspan="3">number</th>
          
      </tr>
      <tr *ngFor="let customer of customers let i = index" [ngStyle]="{'background': customer.ref.id != editing_user?.id? '#fff' : '#eeeeee'}">
          <td >{{customer.data.firstname}}</td>
          <td >{{customer.data.lastname}}</td>
          <td >{{customer.data.mobile_no}}</td>
          <td>
              <button type="submit" class="btn btn-secondary" style="width: 90px;" (click)="onSelect(i)">Select </button>
          </td>
      </tr>
  </table>
</div>